/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


  .form {
    margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  
body {
  background-color: #787de7;
}

.button {
width: 91px;
 height:40px; 
 padding: 8px, 16px, 8px, 16px;
 border-radius: 8px;
background-color: #4E75FF;
 color: white;
font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  }
.text{
  width: 272px; height: 40px; gap: 8px;
  border: 1px solid #030202;
}
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
  box-shadow: -10px 8px 0 18px inset #fff;
  animation: rotate 2s ease-in infinite alternate;
}

.loader::before {
  content: '';
  position: absolute;
  left: 14px;
  bottom: 16px;
  background: #FF3D00;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: scale 1s ease-in infinite alternate;
}

@keyframes rotate {
  100% {
    transform: rotate(750deg)
  }
}

@keyframes scale {
  100% {
    transform: scale(0.5) translateY(5px)
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.gallery-item {
  width: calc((100% - 96px) / 4);
  height: 350px;
   
}

.gallery-image {
  width: 100%;
   
    height: 300px;
    
    display: block;
}
.info{
  border: 1px solid #000000;
  display: flex;
  gap: 15px
}
.info-p{
  font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
  color: #2E2F42;
  align-items: center;
  text-align: center;
}
.info-h{
  font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: left;
   color: #2E2F42;
   align-items: center;
  text-align: center;
}
.info-likes{
 padding-left: 10px;
}
.info-likes, .info-views, .info-comments, .info-downloads {
  width: calc((100% - 60px) / 4);
  align-items: center;
}
.is-hiden{
  display: none;
}
